<h1>Listing drugs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Abbr</th>
    <th>Description</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drugs.each do |drug| %>
  <tr>
    <td><%= drug.name %></td>
    <td><%= drug.abbr %></td>
    <td><%= drug.description %></td>
    <td><%= drug.parent_id %></td>
    <td><%= link_to 'Show', drug %></td>
    <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
    <td><%= link_to 'Destroy', drug, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drug', new_drug_path %>
