<h1>Listing drugs</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th># of indications</th>
      <th># of dosages</th>
      <th>Option(s)</th>
    </tr>
  </thead>
  <tbody>
  <% @drugs.each do |drug| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= drug.name %></td>
      <td><%= (drug.parent.nil?) ? 'n/a' : link_to('Yes', drug.parent) %></td>
      <td><%= drug.indications.count %></td>
      <td><%= drug.dosages.count %></td>
      <td><%= link_to 'Show', drug %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>

<br />

<%= link_to 'New Drug', new_drug_path %>
