<h1>Listing drugs</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbr</th>
      <th>Parent</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @drugs.each do |drug| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= drug.name %></td>
      <td><%= drug.abbr %></td>
      <td><%= drug.parent_id %></td>
      <td><%= link_to 'Show', drug %></td>
      <td><%= link_to 'Edit', edit_drug_path(drug) %></td>
      <td><%= link_to 'Destroy', drug, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>

<br />

<%= link_to 'New Drug', new_drug_path %>
