<%= form_for([@drug, @indication]) do |f| %>
  <% if @indication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indication.errors.count, "error") %> prohibited this indication from being saved:</h2>

      <ul>
      <% @indication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :drug_id %>

  <table class="input-form">
    <thead></thead>
    <tbody>
      <tr>
        <th><%= f.label :text %></th>
        <td><%= f.text_field :text %><br/><span class="form-tip"><%= t 'indication.attributes.text.tip' %></span></td>
      </tr>
      <tr>
        <th><%= f.label :description %></th>
        <td><%= f.text_area :description %><br/><span class="form-tip"><%= t 'indication.attributes.description.tip' %></span></td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
