<h1>Listing indications</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Drug</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @indications.each do |indication| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= indication.text %></td>
      <td><%= link_to indication.drug.name, indication.drug %></td>
      <td><%= link_to 'Show', indication %></td>
      <td><%= link_to 'Edit', edit_indication_path(indication) %></td>
      <td><%= link_to 'Destroy', indication, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot></tfoot>
</table>

<br />

<%= link_to 'New Indication', new_indication_path %>
