<p id="notice"><%= notice %></p>
<hgroup>
  <h1>Viewing indication</h1>
  <h2>for <%= link_to @indication.drug.name, @indication.drug %></h2>
</hgroup>
<div class="fields">
  <p>
    <b>Text:</b>
    <%= @indication.text %>
  </p>
  <p>
    <b>Description:</b>
    <%= @indication.description %>
  </p>
</div>
<div class="toolbar">
  <%= link_to 'Edit', edit_drug_indication_path(@indication) %> |
  <%= link_to "Return to #{@drug.name}", drug_path(@drug) %>
</div>
