<p id="notice"><%= notice %></p>

<p>
  <b>Prescribed at:</b>
  <%= @prescription.prescribed_at %>
</p>

<p>
  <b>Archived at:</b>
  <%= @prescription.archived_at %>
</p>

<p>
  <b>Drug:</b>
  <%= @prescription.drug %>
</p>

<p>
  <b>Indication:</b>
  <%= @prescription.indication %>
</p>

<p>
  <b>Dosage:</b>
  <%= @prescription.dosage %>
</p>

<p>
  <b>User:</b>
  <%= @prescription.user %>
</p>


<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
