<h2>Users</h2>

<table class="sortable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Role</th>
      <th>Site</th>
      <th>Division</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user, n| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= link_to_if true, user.name, user_path(user) %></td>
      <td><%= user.type %></td>
      <td><%= user.role %></td>
      <td><%= user.site.abbr %></td>
      <td><%= user.division.name %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>

<br />

<%= link_to 'New User', new_user_path %>
