<h2>Dosage</h2>
<h2>for <%= link_to @dosage.drug.name, @dosage.drug %></h2>

<p>
  <b>Strength:</b>
  <%= @dosage.strength_text %>
</p>

<p>
  <b>Dose:</b>
  <%= @dosage.dose_text %>
</p>

<p>
  <b>Frequency:</b>
  <%= @dosage.frequency_text %>
</p>

<p>
  <b>Form:</b>
  <%= @dosage.form %>
</p>

<p>
  <b>Route:</b>
  <%= @dosage.route %>
</p>


<%= link_to 'Edit', edit_drug_dosage_path(@drug, @dosage) %> |
<%= link_to 'Back', drug_dosages_path(@drug) %>
