<h2><%= t 'page.home.title_html' %></h2> 
<h3><%= t 'page.home.intro' %></h3> 
<p><%= t 'page.home.intro_response' %></p> 
<h3><%= t 'page.home.design' %></h3> 
<p><%= t 'page.home.design_response' %></p> 
<h3><%= t 'page.home.goals' %></h3> 
<p><%= t 'page.home.goals_response' %></p> 
<h3><%= t 'page.home.joining' %></h3> 
<p><%= t 'page.home.joining_response' %></p> 
<ol> 
  <li><%= t 'page.home.joining_patient' %></li> 
  <li><%= t 'page.home.joining_provider' %></li> 
</ol> 