<%= form_for(@allergy) do |f| %>
  <% if @allergy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allergy.errors.count, "error") %> prohibited this allergy from being saved:</h2>

      <ul>
      <% @allergy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <% if @user == nil %>
      <%= collection_select(:allergy, :user, @users, :id, :name, :prompt => true) %><br />
    <% else %>
      <%= f.hidden_field :user, :value => @user.id %>
      <%= link_to @user.name_first, users_path %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :allergen %><br />
    <%= collection_select(:allergy, :allergen, Allergen.all, :id, :name, :prompt => true) %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
