<h1>Listing sites</h1>

<table class="sortable">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Abbr</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
  <% @sites.each_with_index  do |site, index| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= link_to 'View', site %></td>
      <td><%= site.name %></td>
      <td><%= site.abbr %></td>
      <td><%= image_tag "http://transition.zhanxz.net/images/institution/#{index+1}.jpg", :size => "30x30" %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
