<p id="notice"><%= notice %></p>

<div style="float: right;"><%= image_tag "http://transition.zhanxz.net/images/institution/#{@site.id}.jpg", :size => "100x100" %></div>
<hgroup>
  <h1>Viewing site information</h1>
  <h2>for <%= @site.name %></h2>
</hgroup>

<p>
  <b>Abbr:</b>
  <%= @site.abbr %>
</p>

<p>
  <b>Providers for site:</b>
  <table class="sortable">
    <thead>
      <tr>
        <th>Division</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody class="non-highlight">
    <% count = User.count(:group => :division_id, :conditions => {:site_id => @site.id}) %>
    <% current_division = nil %>
    <% row_style = 'even' %>
    <% User.where(:site_id => @site.id).order(:division_id).each do |user| %>
      <% if current_division.nil? || current_division != user.division_id %>
        <% current_division = user.division_id %>
        <% row_style = cycle('even', 'odd') %>
      <tr class="<%= row_style %>">
        <td rowspan="<%= count[current_division] %>"><%= link_to user.division.name, site_division_path(user.division) %></td>
        <td><%= link_to user.name, user_path(user) %></td>
      <% else %>
      <tr class="<%= row_style %>">
        <td><%= link_to user.name, user_path(user) %></td>
      <% end %>
        
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
