<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "MedPass" %></title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <meta name="description" content="Teach and educate patients about their conditions so they will be able to take primary responsibility for medicating and maintaining their health." />
    <meta name="keywords" content="Transition, Medical Passport, Med Pass, MedPass" />
    <meta name="author" content="Max Kramer" />
    <meta charset="utf-8" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= yield(:head) %>
  </head>
  <body class="<%= params.values_at(:controller, :action).join(' ') %>">
    <div class="wrapper" style="background-color:lightgray;border-radius:3px;margin-top: 5px;">
      <div style="padding: 4px; text-align:center;">
        <% if user_signed_in? %>
          <%= current_user.name %> | <%= link_to('Edit account', edit_user_registration_path) %> | <%= link_to('Logout', destroy_user_session_path) %>
        <% else %>
          <%= t 'devise.shared.not_signed_in' %> &#8594;<%= link_to(t('devise.shared.signin'), new_user_session_path) %> <%= t 'shared.or' %> <%= link_to(t('devise.shared.signup'), new_user_registration_path) %>
        <% end %>
      </div>
    </div>
    <header id="header" class="wrapper">
      <div style="float:right; background-color:#F5F5DC; border-radius:3px; padding:4px;">
        &rarr;
        <% if (I18n.locale.to_s == 'es' || params[:locale] == 'es') %>
          <a href="?locale=en">in English</a>
        <% else %>
          <a href="?locale=es">en Español</a>
        <% end %>
      </div>
      <hgroup>
				<h1 style="color:teal; margin:0; padding:0; font-size: 250%">T<span style="color:orange;font-size:110%;">R<sub>x</sub></span>ANSITION</h1>
        <h2 style="color:#4C4C4B; margin:0; padding:0;"><%= t 'motto' %></h2>
			</hgroup>	
      <div class="clear"></div>
    </header>
    <div id="container">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <div id="content">
        <div style="padding: 20px;">
          <div id="flash">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
      <nav id="side-nav">
        <ul> 
					<li><%= link_to t('nav.main.home'), root_path %></li>
          <li><%= link_to t('nav.main.about', "/about" %></li> 
          <li><%= link_to t('nav.main.info'), "/contact" %></li>
          <li><%= link_to t('nav.main.members'), root_path %></li> 
          <li><%= link_to t('nav.main.programs'), root_path %></li> 
					<li><%= link_to "Medical Passport&trade;", "/passport" %></li> 
					<li><%= link_to t('nav.main.games'), root_path %></li>
				</ul>
        <!-- test links here -->
        <hr>
        <p style="text-align:center;">Test links<p>
        <ul> 
					<li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'Allergens', allergens_path %></li>
          <li><%= link_to 'Drugs', drugs_path %></li>
          <li><%= link_to 'Sites', sites_path %></li>
        </ul>
        <!-- end test links -->
      </nav>
      <div class="clear"></div>
    </div>
    <footer id="footer" class="wrapper" style="text-align:center;">
      <p>Copyright &copy; 2010-2011 - All Rights Reserved | <a href="#">Privacy Policy</a></p> 
      <p>All information is confidential.  Do not share information, except with authorized individuals.</p> 
    </footer>
  </body>
</html>
